<head>
  <title> Gatekeeper </title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta property="og:title" content="Gatekeeper">
  <meta property="og:site_name" content="TAMU Datathon">
  <meta property="og:url" content="tamudatathon.com">
  <meta property="og:description" content="TAMU Datathon's authentication service.">
  <meta property="og:type" content="profile">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="tamudatathon.com">
  <meta name="twitter:title" content="Gatekeeper">
  <meta name="twitter:description" content="">

  <link rel="icon" type="image/png" href="static/img/favicon.ico" />

  <!-- Stylesheets from libraries -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>