<!DOCTYPE html>
<html lang="en">
  <%- include ("../partials/head") %>

  <body>
    <h1 class="text-center py-5">&#x1F6E1; Gatekeeper &#x1F6E1;</h1>

    <div class="container">
      <div class="row justify-content-center">
        <h2>Sign-up Successful | Activation Pending</h2>
        <div class="my-4">
          <p>Thank you for signing up! Please check you email (<a href="#"><%= userEmail %></a>) for an activation email.</p>
        </div>
      </div>
    </div>
  </body>
</html>
