<h1>This is the signup page</h1>

<form method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  Confirm Password: <input type="text" name="confirmPassword">

  <button type="submit">Submit</button>
</form>