<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head",{page_title:"Verification Email Sent"}) %>

<body class="MessagePage">
  <div class="container">
    <div class="row justify-content-center message-box" style="height: 70vh;">
      <div class="col-sm-10 text-center">

        <div class="logo">
          <img src="https://tamudatathon.com/static/img/logos/main.svg" width="80" height="80" />
        </div>

        <div class="title">
          <h1 class="h3 font-weight-normal">Verify your account</h1>
        </div>

        <div>
          <p>
            Please check for an email from TAMU Datathon with a verification link. 
            <br/>
            You can also click the button below to get another verification link.
          </p>
        </div>

        <div class="text-center mt-3">
          <span class="font-weight-bold">If you haven't received an email, be sure to check your spam folder.</span>
        </div>

        <div class="button">
          <a class="btn btn-outline-primary" href="/auth/signup/verify/resend?r=<%= locals.redirectLink %>">Get another
            link</a>
        </div>

      </div>
    </div>
  </div>
  <%- include ("../partials/scripts") %>
</body>
</html>
