<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

<body class="MessagePage">
  <div class="container">
    <div class="row justify-content-center message-box" style="height: 100vh;">
      <div class="col-sm-10 text-center">
        <div class="logo">
          <img src="/auth/static/img/main.png" width="80" height="80" />
        </div>

        <div class="title">
          <h1 class="h3 font-weight-normal">You have already been verified.</h1>
        </div>

        <div>
          <p>Please login to access your account.</p>
        </div>

        <div class="button">
          <a class="btn btn-outline-primary" href="/auth/login?r=<%= locals.redirectLink %>">Login</a>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../partials/scripts") %>
</body>
</html>
