<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head",{page_title:"Verification Email Sent"}) %>

<body class="MessagePage">
  <div class="container">
    <div class="row justify-content-center message-box" style="height: 70vh;">
      <div class="col-sm-10 text-center">
        <div class="logo">
          <img src="/auth/static/img/main.png" width="80" height="80" />
        </div>
  
        <div class="title">
          <h1 class="h3 font-weight-normal">Check your email for a link</h1>
        </div>

        <div>
          <p>
            Please check your email (<a href="#"><%= userEmail %></a>) for an email from TAMU Datathon. 
            <br/>
            Inside that email is a link that will verify your email and allow you to continue with your application.
          </p>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../partials/scripts") %>
</body>
</html>
