<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head",{page_title:"Verification Sucess"}) %>

<body class="MessagePage">
  <div class="container">
    <div class="row justify-content-center message-box" style="height: 70vh;">
      <div class="col-sm-10 text-center">
        <div class="logo">
          <img src="/auth/static/img/main.png" width="80" height="80" />
        </div>

        <div class="title">
          <h1 class="h3 font-weight-normal">Verification successful!</h1>
        </div>

        <div>
          <p>Thank you for verifying your email.</p>
        </div>

        <div class="button">
          <a class="btn btn-outline-primary" href="<%= locals.redirectLink %>">Continue</a>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../partials/scripts") %>
</body>
</html>
