body.MessagePage {
  background-color: #f5f5f5;
  padding-left: 4em;
  padding-right: 4em;
  text-align: center;
}

.MessagePage {
  .row {
    justify-content: center;
  }
  .logo {
    padding-top: 2em;
    padding-bottom: 7em;
  }
  .title {
    padding-bottom: 1em;
  }
  .button {
    padding-top: 5em;
    padding-bottom: 2em;
  }
}