body.MessagePage {
  background-color: #f5f5f5;
}

.MessagePage {
  .message-box {
    margin-top: 30vh;
  }
  .logo {
    padding-bottom: 2em;
  }
  .title {
    padding-bottom: 1em;
  }
  .button {
    padding-top: 1em;
  }
}