<h1>This is a test email!</h1>
<p>Hi <%= name %>!</p>
<p>Thanks for testing with Datathon! Just going to list some things out here:</p>
<ul>
  <% listStuff.forEach(item => { %>
    <li><%= item %></li>
  <% }) %>
</ul>

<p>Also, here's a random word: <%= randomWord %></p>